<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="A" value="Rock"/>
		<add key="B" value="Paper"/>
		<add key="C" value="Scissors"/>
		<add key="X" value="Rock"/>
		<add key="Y" value="Paper"/>
		<add key="Z" value="Scissors"/>
	
		<add key="Win" value="6"/>
		<add key="Loss" value="3"/>
		<add key="Draw" value="0"/>
	
		<add key="Rock" value="1"/>
		<add key="Paper" value="2"/>
		<add key="Scissors" value="3"/>
	</appSettings>
</configuration>